<div class="card">
  <div class="card__date">
    <%= deadline.due %>
  </div>

  <div class="card__title">
    <%= link_to deadline.task.title, "#" %>
  </div>

  <div class="card__category">
    <%= Category.find(deadline.task.category_id).name %>
  </div>

  <div class="card__completed">
    <%= link_to "完了", "#" %>
  </div>

  <div class="card__procrastinate">
    <%= link_to "後回し", "#" %>
  </div>

</div>